application_files/datatype/%7Bhttps%3A%2F%2Ftest79.appianci.net%2Fsuite%2Ftypes%2F%7DTEST_cdt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="https://test79.appianci.net/suite/types/"
  xmlns:tns="https://test79.appianci.net/suite/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TEST_cdt">
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:int"/>
      <xsd:element name="name" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
